<link rel="stylesheet" href="/css/productPage.css" />

{{#if message}}

<div class="message">
  {{message}}
</div>

{{/if}}



<div class="product-cards">
  {{#each products}}
  <div class="product-card">

    <div class="product-image">
      <img src="{{this.imageUrl}}" alt="{{this.name}}" />
      
      <a class="view-details" href="/product/{{this._id}}">
          View Details
      </a>
    </div>

    <div class="product-details">
      <h2>{{this.name}}</h2>

      <p><strong>Price:</strong> ${{this.price}}</p>
      <p><strong>Size:</strong> {{this.size}}</p>
      <p><strong>Color:</strong> {{this.color}}</p>
      <p style="color: rgb(238, 69, 103);"> {{this.itemQty}} Pieces available </p>

      <div class="description">

        <p>{{this.description}}</p>

      </div>

      <div class="review">
        <a href="/product/{{this._id}}">Reviews</a>

        {{#if this.reviews.length}}

        {{#range this.rating}}
        <img src="/assets/star.svg" alt="star" />
        {{/range}}

        {{else}}

        <span style="color: crimson;"> No ratings</span>

        {{/if}}

      </div>

      <form method="post" class="product-actions" action="/cart/add/{{this._id}}" id="productForm">
        <div class="inputs">
          <div>
            <label for="quantity">Qty:</label>
            <input type="number" name="quantity" min="1" value="1" class="quantity-input" required />
          </div>

          <div>

            <label for="size">Size:</label>
            <select type="text" name="size" class="size-input" required>
              {{#each this.sizesArray}}
              <option value="{{this}}"> {{this}}</option>
              {{/each}}
            </select>

          </div>

          <div>
            <label for="color">Color:</label>

            <select type="text" name="color" class="color-input" required>
              {{#each this.colorsArray}}
              <option value="{{this}}"> {{this}}</option>
              {{/each}}
            </select>

          </div>

        </div>

        <div style="display: flex; width:100%">
          <button type="submit" name="action" value="add-to-cart" class="add-to-cart-btn">
            Add to Cart
          </button>
          {{! <button type="submit" name="action" value="buy-now" class="buy-now-btn">
            Buy Now
          </button> }}
        </div>
      </form>

    </div>

  </div>
  {{/each}}
</div>