<div class="container-fluid p-5 table-responsive mt-5">
  <div class="h1"> User Details </div>
  <table class="table table-striped table-bordered table-hover  table-responsive-sm">
    <thead>
      <tr class="table-primary">

        <th>Email</th>
        <th>Address</th>
        <th>Email verified</th>
        <th>Cart Item</th>
        <th>Cart Value</th>
        <th>Orders</th>
        <th>Dispatched</th>
        <th>Cancelled</th>
      </tr>
    </thead>

    <tbody>

      {{#each users}}
      <tr>
        <td>{{this.email}}</td>
        <td>{{#each this.addresses}}
          {{this.fullname}}<br />{{this.street}}<br />{{this.city}} ,{{this.postalCode}}<br />{{this.state}}
          <br />{{this.country}} <br /> {{this.contact}}

          {{/each}}
        </td>
        <td>{{this.isEmailVerified}}</td>
        <td>{{this.cart.length}}</td>
        <td>{{this.cartValue}}$</td>
        <td>{{this.orders.length}}</td>
        <td>0</td>
        <td>0</td>

      </tr>
      {{/each}}

    </tbody>
  </table>

</div>