<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />


{{> adminNav}}


  <div class="d-flex p-5">

           <div class="mt-3">
            <h3 class="text-primary"> App Admin Info</h3>
            <p class="text-dark m-0 fw-bolder">Admin name : <span class="fst-italic fw-normal ">Savitri</span></p>
            <p class="text-dark m-0 fw-bolder">Admin Email : <span class="fst-italic fw-normal">savitriraol30@gmail.com</span></p>
        </div>


        <div class="mt-3 ms-5">
            <h3 class="text-primary"> Store keeper Info</h3>
            <p class="text-dark m-0 fw-bolder">Store Keeper : <span class="fst-italic fw-normal ">{{username}}</span></p>
            <p class="text-dark m-0 fw-bolder">Store Keeper mail : <span class="fst-italic fw-normal">{{email}}</span></p>
        </div>


         <div class="mt-3 ms-5">
            <h3 class="text-primary"> Check NewsLetter Subscribers</h3>

            <a class="btn btn-sm  btn-success" href="/admin/dashboard/checkNewsLetter"> Check</a>
            
        </div>



        <div class="mt-3 ms-5 ms-5">
            <h3 class="text-success"> Add Store keeper</h3>
            <form method="post" action="/admin/addKeeper" class="d-flex">
                <input name="email" class="form-control form-control-sm" required placeholder="Enter email" >
                <button  class="btn btn-sm btn-success ms-2"> Update</button>
            </form>
        </div>  


          <div class="mt-3 ms-5 ms-5">
            <h3 class="text-Danger"> Remove Store keeper</h3>
            <form method="post" action="/admin/removeKeeper" class="d-flex">
                <input name="email" class="form-control form-control-sm" required placeholder="Enter email" >
                <button  class="btn btn-sm btn-danger ms-2"> Update</button>
            </form>
        </div>

       

    </div>




<div class="container-fluid p-5 " style="position : absolute">

  {{#if errorMessage}}
  <div id="autoDismissAlert" class=" alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{errorMessage}} </strong>
  </div>
  {{/if}}

  {{#if successMessage}}
  <div id="autoDismissAlert" class=" alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{successMessage}} </strong>
  </div>
  {{/if}}

  {{#if infoMessage}}
  <div id="autoDismissAlert" class=" alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{infoMessage}} </strong>
  </div>
  {{/if}}

</div>



<style>
  .my-style{
    margin-top: 130px;
    background-color: #ff6b6b3f;
  }
</style>



<div class=" p-5  rounded my-style">
  <div class="container">
    <h2>"Kindly check users for any orders; for in every request lies the potential for connection and fulfillment."
    </h2>
    <p>"Each order reflects not just a need, but a trust placed in us. By acknowledging these requests, we forge
      relationships, turn intentions into actions, and create a seamless journey that resonates with the heart of our
      service. Let us embrace every inquiry as an opportunity to shine, ensuring that each user feels valued and heard."
    </p>
  </div>

</div>


<div class="mt-4 p-5  rounded my-style">
  <div class="container">
    <h1>"Give Away Soon..."</h1>
    <p> Team, I want to highlight the strategic benefits of our upcoming giveaway and discount campaign. This initiative
      isn't
      just about attracting attention; it’s a powerful tool to drive overall sales.

      By offering a giveaway, we create excitement and engagement around our brand, encouraging potential customers to
      interact with us. This not only increases our visibility but also helps build a loyal customer base. People love
      the
      thrill of winning, and it can lead to word-of-mouth promotion that amplifies our reach.

      Additionally, the discounts will incentivize immediate purchases, converting interested leads into sales. This
      urgency
      can boost our short-term revenue while showcasing our commitment to customer satisfaction.

      Ultimately, this dual approach can enhance our sales figures, strengthen customer relationships, and elevate our
      brand
      reputation in the market. Let’s harness this opportunity to drive results together!"</p>
  </div>

</div>


<script>

  setTimeout(function () {
    var alertElement = document.getElementById('autoDismissAlert');
    var bsAlert = new bootstrap.Alert(alertElement);
    bsAlert.close();
  }, 3000); 
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>