<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/cart.css" />

  </head>
  <body>

    <!-- Shopping Cart Section -->
    <section class="cart-section">

      {{#if message}}
        <div class="empty-cart-message">
          <h2>{{message}}</h2>

          <a class="btn" href="/user/cart">Go back </a>
        </div>
      {{else}}
        <div class="cart-container">
          <h2>Shopping Cart</h2>
          <table class="cart-table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>

              {{#each user.cart}}
                <tr class="cart-item">
                  <td><img  src={{this.productId.imageUrl}} /></td>
                  <td>{{this.productId.name}} <br> {{this.color}} , {{this.size}}</td>
                  <td>
                    <input
                      type="number"
                      class="item-quantity"
                      value="{{this.quantity}}"
                      min="1"
                      readonly
                    />
                  </td>
                  <td class="item-price"> <span>Price : </span> {{this.productId.price}} $</td>
                  <td class="item-total"> <span>Total : </span> {{this.total}} $</td>
                  <td>
                    <a
                      href="/cart/removeItem/{{this.productId._id}}"
                      class="btn-remove"
                    >Remove</a></td>
                </tr>
              {{/each}}
            </tbody>
          </table>

          <div class="cart-total">

            <div style="display: flex ; justify-content :space-between; align-items :center ;margin-bottom : 20px">
              <a class="btn-remove" href="/cart/empty">Empty Cart</a>
              <div style="display: flex;">
                <h2>Total: </h2>
                <h2 style="color: antiquewhite; margin-left : 10px">
                  {{user.cartValue}}
                  $</h2>
              </div>
            </div>


            <a href="/cart/order" class="btn-checkout">Proceed to Checkout</a>
          </div>
        </div>

      {{/if}}

    </section>

  </body>
</html>