<link rel="stylesheet" href="/css/orders.css" />


<div class="container">

  {{#if message}}
  <div class="message">{{message}}</div>
  <a class="btn btn-track" href="/user/orders"> Track Order </a>
  {{else}}



  <h1>Your Orders</h1>

  {{#each orders}}

  <div class="order-container">

    <div class="order-header">Order ID: {{this._id}}</div>

    <div class="details">

      <div class="order-details">
        <h2>Order Details</h2>
      
        <p><strong>Total Amount:</strong> <span>{{this.totalAmount}} $ </span></p>
        <p><strong>Status:</strong> <span>{{this.status}}</span></p>
        {{!-- <p><strong>Order Date:</strong> {{this.orderDate}}</p> --}}
      
        <p><strong>Payment Done:</strong>
          <span> {{#if this.isPaymentDone}} Card.{{else}} Payment
            pending! {{/if}}</span>
        </p>
      
        <p><strong>Verified Order:</strong>
      
          <span> {{#if this.emailVerified}} Through Mail{{else}}
            <a href="/order/verify/{{this._id}}" class="btn btn-verify btn-small">Verify
            </a>
            {{/if}}</span>
        </p>
      
        <p><strong>Order Status :</strong>
      
          <span>{{#if this.isPaymentDone}}
      
            {{#if this.cancelRequest}}
      
            Order Cancelled.
            {{else}}
            Awaiting Dispatch !
      
            {{/if}}
      
            {{else}}
            Payment pending!
            {{/if}} </span>
        </p>
      </div>

      <div class="address-details">
        <h2>Address Details</h2>
        {{#each this.address}}
        <p>{{this.fullname}}</p>
        <p>
          <span>
            {{this.street}},
            {{this.city}},
            {{this.state}},
            {{this.postalCode}},
            {{this.country}}
          </span>

        </p>

        <p><span>{{this.contact}}</span></p>
        <p><span>{{this.landMark}}</span></p>
        {{/each}}
      </div>

    </div>

    <div class="product-details">

      <h2>Product Details</h2>

      <div class="product-cards">

        {{#each this.products}}
        <div class="card">
          <div class="card-left">
          
            <h2>{{this.productId.name}}</h2>
            
          
            <p> <strong>Quantity:</strong>
              <span> {{this.quantity}} </span>
            </p>
          
            <p>
              <strong>Price:</strong>
              <span>{{this.price}} $ </span>
            </p>
          
            <p> <strong>Size:</strong>
              <span> {{this.size}}</span>
            </p>
          
            <p><strong>Color:</strong>
              <span> {{this.color}} </span>
            </p>
          
            
            <h4> {{this.productId.description}} </h4>
            
          
          
          </div>

          <img src="{{this.productId.imageUrl}}" alt="{{this.productId.name}}" />
        </div>
        {{/each}}

      </div>
    </div>

    <div class="track-order">

      <h2>Track Your Order</h2>

      <div class="tracking">

        {{#if this.isPaymentDone}}

        {{#if this.cancelRequest}}

        <h3>
          your order has been cancelled!
        </h3>


        {{else}}
        <h3>
          Your order will be dispatched soon and u will be notified thorugh email!
        </h3>

        {{/if}}




        {{else}}
        <h3>
          Tracking status will be available when a succesful order is placed!
        </h3>
        {{/if}}

      </div>

    </div>



    {{#if this.isPaymentDone}}

    {{#if this.cancelRequest}}


    {{else}}
    <a href="/order/cancel/mail/{{this._id}}" class="btn btn-cancel">Request Cancel </a>

    {{/if}}
    {{else}}

    <a href="/order/cancel/{{this._id}}" class="btn btn-cancel">Cancel Order</a>

    {{/if}}




    {{#if this.emailVerified}}

    {{#if this.isPaymentDone}}

    {{else}}
    <a href="/order/payment/{{this._id}}" class="btn btn-payment">
      Payment</a>

    {{/if}}


    {{else}}

    <a href="/order/verify/{{this._id}}" class="btn btn-verify">Verify
      Through Email
    </a>

    {{/if}}

  </div>
  {{/each}}
  {{/if}}
</div>