<link rel="stylesheet" href="/css/productPage.css" />

{{#if message}}

  <div class="message">
    {{message}}
  </div>

{{/if}}

<div class="product-cards">
  {{#each products}}
    <div class="product-card">

      <div class="product-image">
        <img src="{{this.imageUrl}}" alt="{{this.name}}" />
      </div>

      <div class="product-details">
        <h2>{{this.name}}</h2>

        <p><strong>Price:</strong> ${{this.price}}</p>
        <p><strong>Size:</strong> {{this.size}}</p>
        <p><strong>Color:</strong> {{this.color}}</p>

        <div class="description">

          <p><strong>Description:</strong>{{this.description}}</p>

        </div>


        <form method="post" class="product-actions" action="/cart/add/{{this._id}}" id="productForm">
          <div class="inputs">
            <div>
              <label for="quantity">Qty:</label>
              <input
                type="number"
                name="quantity"
                min="1"
                value="1"
                class="quantity-input"
                required
              />
            </div>
            <div>
              <label for="size">Size:</label>
              <input type="text" name="size" class="quantity-input" required />
            </div>
            <div>
              <label for="color">Color:</label>
              <input type="text" name="color" class="quantity-input" required />
            </div>
          </div>

          <div style="display: flex; width:100%">
            <button
              type="submit"
              name="action"
              value="add-to-cart"
              class="add-to-cart-btn"
            >
              Add to Cart
            </button>
            {{!-- <button
              type="submit"
              name="action"
              value="buy-now"
              class="buy-now-btn"
            >
              Buy Now
            </button> --}}
          </div>
        </form>

      </div>

    </div>
  {{/each}}
</div>



{{!-- <script>
  const form = document.getElementById('productForm');
  const product = document.querySelector('.product-card')
  const  _id = product.id
  const addToCartBtn = document.querySelector('.add-to-cart-btn');
  const buyNowBtn = document.querySelector('.buy-now-btn');
  

  addToCartBtn.addEventListener('click', function (e) {
    form.action = `/cart/add/${_id}`;  // Add to cart action
  });

  buyNowBtn.addEventListener('click', function (e) {
    form.action = `/place/order/${_id}`;  // Buy now action
  });
</script> --}}
