<link rel="stylesheet" href="/css/productPage.css" />

{{#if message}}

  <div class="message">
    {{message}}
  </div>

{{/if}}

<div class="product-cards">
  {{#each products}}
    <div class="product-card">

      <div class="product-image">
        <img src="{{this.imageUrl}}" alt="{{this.name}}" />
      </div>

      <div class="product-details">
        <h2>{{this.name}}</h2>

        <p><strong>Price:</strong> ${{this.price}}</p>
        <p><strong>Size:</strong> {{this.size}}</p>
        <p><strong>Color:</strong> {{this.color}}</p>

        <div class="description">

          <p><strong>Description:</strong>{{this.description}}</p>

        </div>

        <form method="post" class="product-actions" action="/cart/add/{{this._id}}">
          <div class="inputs">
            <div>
              <label for="quantity"> Qty:</label>
              <input
                type="number"
                name="quantity"
                min="1"
                value="1"
                class="quantity-input"
              />
            </div>
            <div>
              <label for="size"> Size:</label>
              <input
                type="text"
                name="size"
                class="quantity-input"
              />
            </div>

            <div>
              <label for="color"> Color:</label>
              <input
                type="text"
                name="color"
                class="quantity-input"
              />
            </div>
          </div>

          <button class="add-to-cart-btn">Add to Cart</button>
        </form>
      </div>

    </div>
  {{/each}}
</div>